@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: Nunito;
    src: url('../fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
}