@import './fonts.scss';

:root[data-theme="light"] {
	--bg-color: #f8f9fa;
	--header-bg: #adb5bd;
	--text-color: #212529;
}

:root[data-theme="dark"] {
	--bg-color: #212529;
	--header-bg: #6c757d;
	--text-color: #ffffff;
}

html, body, main {
	background-color: var(--bg-color);
	color: var(--text-color);
	padding: 0 2rem;
	font-family: Roboto;
	transition: background-color 0.3s ease, color 0.3s ease;
}
